<md-card>
    <h1>Exemple FormControl</h1>
    <h5> <a href="https://github.com/ByJC/ng-blog-posts/tree/master/src/app/%2Bex.formcontrol" target="_blank">Lien vers le composant.</a></h5>
    <h5> <a href="https://medium.com/@jcfauvin/diff%C3%A9rentes-strat%C3%A9gies-pour-appeler-ses-services-angular2-48ca206cebdd#.sec7nzstn" target="_blank">Lien vers l'article.</a></h5>     
</md-card>

<md-card>
     input avec un formControl permettant de rechercher les utilisateurs Github parisien <br/>
     Min. 3 caractères <br/>
     <br/>
    <input [formControl]="myControl" [(ngModel)]="search">
</md-card>

<md-card>
    <h4>Résultats</h4>
    <div *ngFor="let profil of profiles | async">
       <a href="{{profil.html_url}}" target="_blank"> <strong>{{profil.login}}</strong></a>
    </div>
</md-card>