<md-card><h1>Home</h1></md-card>
<md-card>
	<h4> <a href="https://github.com/ByJC/ng-blog-posts" target="_blank">Lien vers le Repo.</a></h4>
	
	<h4> <a href="https://medium.com/@jcfauvin/diff%C3%A9rentes-strat%C3%A9gies-pour-appeler-ses-services-angular2-48ca206cebdd#.sec7nzstn" target="_blank">Article 1 : Différentes stratégies d'appels</a></h4>

	Projet généré avec <a href="https://github.com/angular/angular-cli" target="_blank">Angular-CLI</a>
	<br/>
	Utilisation de <a href="https://github.com/angular/material2" target="_blank">Angular Material 2</a>
</md-card>